{% extends 'base.html.twig' %}

{% block body %}

<div class="flex flex-col lg:flex-row lg:gap-2 px-32 py-4 justify-evenly">
    {% for category in categories %}
     <a href='/recipes/category/{{category.id}}' class="bg-slate-200 p-2 px-4 rounded-md font-medium text-sm hover:bg-slate-300 transition-all">{{ category.name}}</a>
    </a>
    {% endfor %}
</div>

<hr class="h-px border-0 dark:bg-gray-300">
<div class="mt-10 text-center font-bold text-xl"><a href="/recipe/create" class="hover:bg-orange-200 hover:text-black transition-all bg-orange-600 text-white p-4 px-8 rounded-md capitalize">add new recipe</a></div>
<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
        <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
            {% for recipe in recipes %}
            <a href="/recipes/{{recipe.id}}" class="group" >
             <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                 <img
                 src="{{ recipe.imagePath }}"
                 alt=""
                 class="h-full w-full object-cover object-center group-hover:opacity-75"
                 />
             </div>
             <p class="mt-4 text-sm text-gray-700">{{recipe.category.getName()}}</p>
             <p class="mt-1 text-lg font-medium text-gray-900">{{ recipe.name}}</p>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
